div.jumbotron(ng-controller='SignUpCtrl')
    h1 npm alerts
    p.lead Start observing your GitHub repository and get an email whenever a new node.js package is available.

    form.form-inline(role='form', ng-submit='submit()')
        div.form-group
            label.sr-only(for='email') Email address
            input.form-control#email(type='email', placeholder='Enter email', ng-model='email', required)
        div.form-group
            label.sr-only(for='url') GitHub URL
            input.form-control#url(type='url', placeholder='Github URL', ng-model='url', required)
        button.btn.btn-primary(type='submit', ng-show='isAdding') Watch
        button.btn.btn-danger(type='submit', ng-hide='isAdding') Unwatch

        br

        div.checkbox(ng-show='isAdding')
            label
                input(type='checkbox', ng-model='ignorePatches')
                small &nbsp; Ignore patches (
                    a(href='http://semver.org/') ?
                    | )

    p(ng-show='isAdding')
        a(href='#', ng-click='isAdding=false') Already watching a repo and want to cancel?
    p(ng-hide='isAdding')
        a(href='#', ng-click='isAdding=true') Want to watch a repo instead?

    alert(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)') {{alert.msg}}

div.row
    div.col-md-12
        div.alert.alert-info
            strong Alpha!
            p Help me test out this service! Let me know what you think on <a href="http://twitter.com/seriemajp">Twitter</a>!

div.row
    div.col-md-4
        h2
            i.fa.fa-beer
            | &nbsp; Free
        p The service is completely free and your email will only be used to send notifications about updates to packages you use.
    div.col-md-4
        h2
            i.fa.fa-envelope-o
            | &nbsp; Notification
        p Sign up above and you'll get an email when a Node package defined in your package.json has a new release.
    div.col-md-4
        h2
            i.fa.fa-check
            | &nbsp; All versions
        p Semver version ranges are checked, but you'll get notified either way in case you want to upgrade your package.json.

div.row
    div.col-md-12
        h2 About
        p This page was created by a developer tired of checking for new versions of node packages (especially when using <a href="http://gruntjs.com/">GruntJS</a>). Services he found either required manual checks or tried to charge for it.
        p The service is free because usage is within the free account on <a href="http://heroku.com">Heroku</a>. If this changes I might ask for donations or add ads to cover costs.
        p npm alerts is hosted on Heroku and uses the MEAN-stack (i.e. <a href="http://www.mongodb.org/">MongoDB</a>, <a href="http://expressjs.com/">ExpressJS</a>, <a href="http://angularjs.org/">AngularJS</a>, and <a href="http://nodejs.org/">NodeJS</a>). It also uses <a href="http://getbootstrap.com/">Twitter Bootstrap</a> (actually <a href="http://angular-ui.github.io/bootstrap/">Angular Bootstrap</a>). If you're interested in the code then feel free to check out the sourcecode at <a href="https://github.com/seriema/npmalerts">GitHub</a>.
